{% extends "landingpage/main.html" %}
{% load static %}
{% block title %}
    Home Page
{% endblock title %}

    
{% block content %}
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="section-hero" aria-label="section" class="jarallax text-light">
        <img src="{% static 'images/background/15.jpg' %}" class="jarallax-img" alt="">
        <div class="container">
            <div class="row">
                <div class="spacer-double"></div>
                <div class="col-lg-5 text-light">
                    <h3 class="mb-2">Looking for a <span class="id-color">vehicle</span>? You're at the right place.</h3>
                    <div class="spacer-single"></div>
                </div>

                <div class="col-lg-3 offset-lg-4">
                    <blockquote class="de-quote-small">
                        <div class="d-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        Excellent Service! Endorsed by industry experts, SaleSawari is the Car buying and selling best solution you can trust!
                        <span class="by">Dr. Numan</span>
                    </blockquote>
                </div>

            </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="">
                        <span class="text-success font-weight-bold">SaleSawari</span> is a revolutionary platform that brings vehicle buyers and sellers together in a seamless online marketplace. Designed with an intuitive interface, SaleSawari offers <span class="text-success font-weight-bold">real-time bargaining</span> options, enabling buyers to negotiate with sellers directly. This allows buyers to find the best deals while sellers can reach a wider audience with ease, making the process both efficient and hassle-free.
                    </p>
                    <p class="">
                        With <span class="text-success font-weight-bold">SaleSawari</span>, buying and selling vehicles has never been simpler. Sellers can quickly list their vehicles, set flexible pricing, and respond to offers from potential buyers. On the other hand, buyers can explore a vast selection of vehicles and engage in secure, direct conversations with sellers to negotiate pricing. This unique feature ensures that both parties achieve a fair deal, enhancing trust and satisfaction in every transaction.
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{% url 'filter_vehicles' %}"><button type="button" class="btn-main" style="width: 200px;">View Vehicles</button></a>
        </div>
    </section>

    <section id="section-cars">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h2>In Demand these days</h2>
                    <p>Driving your dreams to reality with an exquisite fleet of versatile vehicles for unforgettable journeys.</p>
                    <div class="spacer-20"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div id="items-carousel-alt-2" class="owl-carousel wow fadeIn">
                    {% if vehicles %}
                    {% for vehicle in vehicles %}
                    <div class="de-item alt-2 mb30">
                        <div class="d-img">
                            <img class="homepage-custom-vehicle-images" src="{{ vehicle.images.first.image.url }}" class="img-fluid" alt="{{ vehicle.name }}">
                        </div>
                        <div class="d-info">
                            <div class="d-text">
                                <h4>{{ vehicle.name | title }}</h4>
                                <div class="d-item_like" data-vehicle-id="{{ vehicle.id }}">
                                    <i class="fa fa-heart"></i><span>{{ vehicle.fav.count }} Favorites</span>
                                </div>                
                                <div class="d-atr-group">
                                    <span class="d-atr"><img src="{% static 'images/icons/1-green.svg' %}" alt=""><a href="#">{{ vehicle.user.username }}</a></span>
                                    <span class="d-atr"><img src="{% static 'images/icons/2-green.svg' %}" alt="">{{ vehicle.model }}</span>
                                    <span class="d-atr"><img src="{% static 'images/icons/3-green.svg' %}" alt="">{{ vehicle.doors }}</span>
                                    <span class="d-atr"><img src="{% static 'images/icons/4-green.svg' %}" alt="">{{ vehicle.body }}</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        Price : <span>{{ vehicle.price }} PKR</span>
                                    </div>
                                    <div class="mt-2">
                                        {% if request.user.id != vehicle.user.id %}
                                            <a class="btn btn-sm btn-success me-2" href="{% url 'view_single_vehicle' vehicle.id %}">View</a>
                                            {% if request.user.is_buyer %}
                                                <a class="btn btn-sm btn-success" href="{% url 'buyer_conversation' vehicle.user.id %}">Ask Price</a>
                                            {% else %}
                                                <a class="btn btn-sm btn-success" href="{% url 'seller_conversation' vehicle.user.id %}">Ask Price</a>
                                            {% endif %}
                                        {% else %}
                                            <a class="btn btn-sm btn-success me-2" href="{% url 'view_single_vehicle' vehicle.id %}">View</a>
                                            <button class="btn btn-sm btn-success" disabled>Ask Price</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="custom-nav">
                    <a class="custom-prev">Back</a>
                    <a class="custom-next">Next</a>
                </div>
            </div>
        </div>
    </section>
    

    <section class="text-light jarallax">
        <img src="{% static 'images/background/9.jpg' %}" class="jarallax-img" alt="">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInRight">
                    <h2>Discover Your Next Ride or Sell Your Car Easily on SaleSawari.</h2>
                </div>
                <div class="col-lg-6 wow fadeInLeft">
                    Welcome to SaleSawari, your premier online marketplace for buying and selling vehicles. 
                    Whether you're in the market for a commercial car, a luxury vehicle, or looking to sell your own, 
                    SaleSawari has you covered. Our platform is designed to provide a seamless experience for both buyers 
                    and sellers, ensuring that you can list your car quickly and find your perfect vehicle effortlessly. 
                    From stylish sedans to spacious SUVs, our diverse inventory caters to all needs and budgets. 
                    With user-friendly features and competitive prices, SaleSawari is your go-to destination 
                    for all your vehicle needs. Experience the convenience and reliability of our service today, 
                    whether you're planning a business trip, a family vacation, or simply want to upgrade your ride.
                </div>
            </div>
            <div class="spacer-double"></div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count transparent text-light wow fadeInUp" data-bgcolor="rgba(32, 32, 32, .5)">
                        <h3 class="timer" data-to="15425" data-speed="3000">0</h3>
                        Listed Vehicles
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count transparent text-light wow fadeInUp" data-bgcolor="rgba(32, 32, 32, .5)">
                        <h3 class="timer" data-to="8745" data-speed="3000">0</h3>
                        Completed Orders
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count transparent text-light wow fadeInUp" data-bgcolor="rgba(32, 32, 32, .5)">
                        <h3 class="timer" data-to="235" data-speed="3000">0</h3>
                        Sellers
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count transparent text-light wow fadeInUp" data-bgcolor="rgba(32, 32, 32, .5)">
                        <h3 class="timer" data-to="78787" data-speed="3000">0</h3>
                        Support Tickets
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section aria-label="section" class="no-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h2>Our Features</h2>
                    <p>Discover a world of convenience, safety, and customization, paving the way for unforgettable adventures and seamless mobility solutions.</p>
                    <div class="spacer-20"></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-3">
                    <div class="box-icon s2 p-small mb20 wow fadeInRight" data-wow-delay=".5s">
                        <i class="fa bg-color fa-trophy"></i>
                        <div class="d-inner">
                            <h4>First class services</h4>
                            Where luxury meets exceptional care, creating unforgettable moments and exceeding your every expectation.
                        </div>
                    </div>
                    <div class="box-icon s2 p-small mb20 wow fadeInL fadeInRight" data-wow-delay=".75s">
                        <i class="fa bg-color fa-road"></i>
                        <div class="d-inner">
                            <h4>24/7 road assistance</h4>
                             Reliable support when you need it most, keeping you on the move with confidence and peace of mind.
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <img src="{% static 'images/misc/car-2.png' %}" alt="" class="img-fluid wow fadeInUp">
                </div>

                <div class="col-lg-3">
                    <div class="box-icon s2 d-invert p-small mb20 wow fadeInL fadeInLeft" data-wow-delay="1s">
                        <i class="fa bg-color fa-tag"></i>
                        <div class="d-inner">
                            <h4>Quality at Minimum Expense</h4>
                             Unlocking affordable brilliance with elevating quality while minimizing costs for maximum value.
                        </div>
                    </div>
                    <div class="box-icon s2 d-invert p-small mb20 wow fadeInL fadeInLeft" data-wow-delay="1.25s">
                        <i class="fa bg-color fa-map-pin"></i>
                        <div class="d-inner">
                            <h4>Free Pick-Up & Drop-Off</h4>
                             Enjoy free pickup and drop-off services, adding an extra layer of ease to your car rental experience.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-testimonials" class="no-top no-bottom">
        <div class="container">
            <div class="row g-4 align-items-center">

                <div class="col-md-4 wow fadeInUp">
                    <div class="de-image-text">
                        <div class="d-text">
                            <div class="d-rating mb10">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div style="margin-top: 40%;">
                                <h4>Excellent Service! Car Bargain Service!</h4>
                                <blockquote>
                                I have been using SaleSawari online bargain system, and i have bought vehicles which have the best prices.
                                <span class="by">Asad Professor</span>
                            </blockquote>
                        </div>
                        </div> 
                        <div id="image-effect">
                            <img src="{% static 'images/default_images/asad.jpg' %}" alt="Image" />
                        </div>
                    </div>
                </div>


                <div class="col-md-4 wow fadeInUp">
                    <div class="spacer-double sm-hide"></div>
                    <div class="spacer-double sm-hide"></div>
                    <div class="de-image-text">
                        <div class="d-text">
                            <div class="d-rating mb10">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div style="margin-top: 40%;">
                                <h4>Easy To Find Vehicle With Best Price!</h4>
                                <blockquote>
                                If i have found SaleSawari platform for selling and buying vehicles online, i would be the first user to signup!
                                <span class="by">Dr. Numan</span>
                                </blockquote>
                            </div>
                        </div>
                        <div id="image-effect">
                            <img src="{% static 'images/default_images/numan.jpg' %}" alt="">
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-4 wow fadeInUp">
                    <div class="spacer-double sm-hide"></div>
                    <div class="spacer-double sm-hide"></div>
                    <div class="spacer-double sm-hide"></div>
                    <div class="spacer-double sm-hide"></div>
                    <div class="de-image-text">
                        <div class="d-text">
                            <div class="d-rating mb10">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div style="margin-top: 40%;">
                                <h4>Just in love with Money Protection!</h4>
                                <blockquote>
                                SaleSawari will protect your identity and will help you check the car before the release your payment to seller.
                                <span class="by">Hassan Khan</span>
                                </blockquote>
                            </div>
                        </div>
                        <div id="image-effect">
                            <img src="{% static 'images/default_images/hassan.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>            

    <section id="section-news">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h2>Latest News</h2>
                    <p>Breaking news, fresh perspectives, and in-depth coverage - stay ahead with our latest news, insights, and analysis.</p>
                    <div class="spacer-20"></div>
                </div>
                
                <div class="col-lg-4 mb10">
                    <div class="bloglist s2 item">
                        <div class="post-content">
                            <div class="post-image">
                                <div class="date-box">
                                    <div class="m">10</div>
                                    <div class="d">MAR</div>
                                </div>
                                <img alt="" src="{% static 'images/news/pic-blog-1.jpg' %}" class="lazy">
                            </div>
                            <div class="post-text">                         
                                <h4><a href="{% url 'post2' %}">How to Buy a Vehicle on SaleSalwari<span></span></a></h4>
                                <p>Before you can begin your vehicle search, you will need to <strong>create an account</strong> on SaleSalwari. This is a quick and simple process ...</p>
                                <a class="btn-line" href="{% url 'post2' %}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                        
                <div class="col-lg-4 mb10">
                    <div class="bloglist s2 item">
                        <div class="post-content">
                            <div class="post-image">
                                <div class="date-box">
                                    <div class="m">12</div>
                                    <div class="d">MAR</div>
                                </div>
                                <img alt="" src="{% static 'images/news/pic-blog-2.jpg' %}" class="lazy">
                            </div>
                            <div class="post-text">                           
                                <h4><a href="{% url 'post3' %}">Top Trending Vehicles in 2024<span></span></a></h4>
                                <p>The automotive industry is witnessing a revolutionary shift in 2024, with electric vehicles and hybrid models leading ...</p>
                                <a class="btn-line" href="{% url 'post3' %}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                        
                <div class="col-lg-4 mb10">
                    <div class="bloglist s2 item">
                        <div class="post-content">
                            <div class="post-image">
                                <div class="date-box">
                                    <div class="m">14</div>
                                    <div class="d">MAR</div>
                                </div>
                                <img alt="" src="{% static 'images/news/pic-blog-5.jpg' %}" class="lazy">
                            </div>
                            <div class="post-text">                            
                                <h4><a href="{% url 'post1' %}">SaleSalwari Opens New Office in Mingora<span></span></a></h4>
                                <p>This expansion is part of our ongoing efforts to provide easier access to our services for both buyers and sellers. Our Mingora office ...</p>
                                <a class="btn-line" href="{% url 'post1' %}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-light jarallax" aria-label="section">
        <img src="{% static 'images/background/3.jpg' %}" alt="" class="jarallax-img">
        <div class="container">
            <div class="row">
            <div class="col-lg-3">
                <h1>Let's Your Adventure Begin</h1>
                <div class="spacer-20"></div>
            </div>
            <div class="col-md-3">
                <i class="fa fa-trophy de-icon mb20"></i>
                <h4>Top Seller Award</h4>
                <p>Recognizes users who have successfully sold the highest number of vehicles on SaleSawari in a given year.</p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-road de-icon mb20"></i>
                <h4>Customer Satisfaction Champion</h4>
                <p>Awarded to sellers who receive consistently high ratings and positive feedback from buyers on SaleSawari.</p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-map-pin de-icon mb20"></i>
                <h4>Fastest Growing Seller</h4>
                <p>Honors sellers who have shown the most significant growth in listings and sales within a short period on SaleSawari.</p>
            </div>
        </div>
        </div>
    </section>       

    <section id="section-faq">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2>Have sQuestions about SaleSawari?</h2>
                    <div class="spacer-20"></div>
                </div>
            </div>
            <div class="row g-custom-x">
                <div class="col-md-6 wow fadeInUp">
                    <div class="accordion secondary">
                        <div class="accordion-section">
                            <div class="accordion-section-title" data-tab="#accordion-1">
                                How do I list my car for sale on SaleSawari?
                            </div>
                            <div class="accordion-section-content" id="accordion-1">
                                <p>To list your car on SaleSawari, simply create an account, navigate to the "Sell Your Car" section, and follow the prompts to provide your vehicle details and upload photos. SaleSawari makes it easy to reach potential buyers.</p>
                            </div>
                            <div class="accordion-section-title" data-tab="#accordion-2">
                                What types of vehicles can I find on SaleSawari?
                            </div>
                            <div class="accordion-section-content" id="accordion-2">
                                <p>SaleSawari offers a wide range of vehicles, including commercial cars, luxury vehicles, sedans, SUVs, and more. Whatever your needs, SaleSawari has a diverse inventory to choose from.</p>
                            </div>
                            <div class="accordion-section-title" data-tab="#accordion-3">
                                Is there a fee to list my car on SaleSawari?
                            </div>
                            <div class="accordion-section-content" id="accordion-3">
                                <p>Listing your car on SaleSawari may involve a nominal fee, which helps us maintain a high-quality platform for buyers and sellers. Check our pricing page for specific details on listing fees.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 wow fadeInUp">
                    <div class="accordion secondary">
                        <div class="accordion-section">
                            <div class="accordion-section-title" data-tab="#accordion-b-4">
                                How can I ensure a safe transaction on SaleSawari?
                            </div>
                            <div class="accordion-section-content" id="accordion-b-4">
                                <p>SaleSawari prioritizes your safety by providing secure communication channels and verifying user profiles. Always use SaleSawari's messaging system and follow our safety tips for secure transactions.</p>
                            </div>
                            <div class="accordion-section-title" data-tab="#accordion-b-5">
                                Can I negotiate prices on SaleSawari?
                            </div>
                            <div class="accordion-section-content" id="accordion-b-5">
                                <p>Yes, SaleSawari allows buyers and sellers to negotiate prices directly through our platform. Use SaleSawari's messaging system to discuss and agree on a fair price.</p>
                            </div>
                            <div class="accordion-section-title" data-tab="#accordion-b-6">
                                What should I do if I encounter an issue with a transaction on SaleSawari?
                            </div>
                            <div class="accordion-section-content" id="accordion-b-6">
                                <p>If you encounter any issues, please contact SaleSawari's customer support team. We are here to help resolve any problems and ensure a smooth experience on SaleSawari.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section aria-label="section" class="pt40 pb40 text-light" data-bgcolor="#111111">
        <div class="wow fadeInRight d-flex">
          <div class="de-marquee-list">
            <div class="d-item">
              <span class="d-item-txt">SaleSawari</span>
              <span class="d-item-display">
                <i class="d-item-dot"></i>
              </span>
              <span class="d-item-txt">SaleSawari Support</span>
              <span class="d-item-display">
                <i class="d-item-dot"></i>
              </span>
              <span class="d-item-txt">SaleSawari Buyers</span>
              <span class="d-item-display">
                <i class="d-item-dot"></i>
              </span>
              <span class="d-item-txt">SaleSawari Sellers</span>
              <span class="d-item-display">
                <i class="d-item-dot"></i>
              </span>
              <span class="d-item-txt">SaleSawari Vehicles</span>
              <span class="d-item-display">
                <i class="d-item-dot"></i>
              </span>
              <span class="d-item-txt">SaleSawari Team</span>
              <span class="d-item-display">
                <i class="d-item-dot"></i>
              </span>
              <span class="d-item-txt">SaleSawari Dashboard</span>
              <span class="d-item-display">
                <i class="d-item-dot"></i>
              </span>
              <span class="d-item-txt">SaleSawari Secure Payments</span>
              <span class="d-item-display">
                <i class="d-item-dot"></i>
              </span>
              <span class="d-item-txt">SaleSawari Account Protection</span>
              <span class="d-item-display">
                <i class="d-item-dot"></i>
              </span>
              <span class="d-item-txt">SaleSawari Lucky Draw</span>
              <span class="d-item-display">
                <i class="d-item-dot"></i>
              </span>
              <span class="d-item-txt">SaleSawari Partners</span>
              <span class="d-item-display">
                <i class="d-item-dot"></i>
              </span>
              <span class="d-item-txt">SaleSawari Head Office</span>
              <span class="d-item-display">
                <i class="d-item-dot"></i>
              </span>
             </div>
          </div>
        </div>
    </section>
</div>
{% endblock content %}
{% block extra_js %}
<script>
    $(document).ready(function(){
        var owl = $("#items-carousel-alt-2").owlCarousel({
            items: 3,
            loop: true,
            margin: 20,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                }
            }
        });

        // Custom Navigation Events
        $(".custom-next").click(function(){
            owl.trigger('next.owl.carousel');
        })
        $(".custom-prev").click(function(){
            owl.trigger('prev.owl.carousel');
        })
    });
</script>
{% endblock extra_js %}
    
    