{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="SaleSawari is a platform for car selling and buying" name="description">
    <meta content="Car Shop, Car hub, Car bargain" name="keywords">
    <meta content="Khalid Ali Khan" name="author">
    <!-- CSS Files
    ================================================== -->
    {% comment %} <link rel="stylesheet" href="{% static 'css/custom_style.css' %}"> {% endcomment %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet" type="text/css" id="mdb">
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/coloring.css' %}" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="{% static 'css/colors/scheme-01.css' %}" rel="stylesheet" type="text/css">
    <!-- Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <style>
        
        #image-effect {
            position: relative !important;
            display: inline-block !important;
            width: 613px !important; /* Adjust according to the image size */
            height: 409px !important;
        }
        
        #image-effect img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
        }
        
        /* Add dark and blur effect to the lower part */
        #image-effect::after {
            content: "" !important;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%) !important;
            filter: blur(8px) !important; /* You can adjust the blur intensity */
            z-index: 1 !important;
            pointer-events: none !important;
        }        
            
        .custom-nav {
            text-align: center;
            margin-top: 20px;
        }
        .custom-nav a {
            cursor: pointer;
            padding: 10px 20px;
            background-color: #f0f0f0;
            margin: 0 10px;
            border-radius: 5px;
        }
        .homepage-custom-vehicle-images {
            width: 192px;
            height: 341px;
            object-fit: cover;
        }
    </style>
</head>

<body onload="initialize()" class="dark-scheme">
    <div id="wrapper">
        
        <!-- page preloader begin -->
        <div id="de-preloader"></div>
        <!-- page preloader close -->

        <!-- header begin -->
        <header class="transparent has-topbar">
            <div id="topbar" class="topbar-dark text-light">
                <div class="container">
                    <div class="topbar-left xs-hide">
                        <div class="topbar-widget">
                            <div class="topbar-widget"><a href="#"><i class="fa fa-phone"></i>+92 34747 91942</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-envelope"></i>contact@saleswari.com</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-clock-o"></i>Mon - Fri 08.00 AM - 07.00 PM</a></div>
                        </div>
                    </div>
                
                    <div class="topbar-right">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-youtube fa-lg"></i></a>
                            <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                            <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                        </div>
                    </div>  
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="index.html">
                                            <img class="logo-1" src="{% static 'images/logo-light.png' %}" alt="">
                                            <img class="logo-2" src="{% static 'images/logo-light.png' %}" alt="">
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li><a class="menu-item" href="{% url 'homepage' %}">Home</a></li>
                                    <li><a href="#" >Trending Vehicles</a></li>
                                    <li><a href="#">Most in Demands</a></li>
                                    <li><a href="#">Vehicles by Filter</a></li>
                                    <li><a  href="{% url 'contact_us' %}">Customer Support</a></li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_seller %}
                                            <a href="{% url 'seller_dashboard' %}" class="btn-main">Dashboard</a>
                                        {% else %}
                                            <a href="{% url 'buyer_dashboard' %}" class="btn-main">Dashboard</a>
                                        {% endif %}
                                        
                                        <form method="post" action="{% url 'logout' %}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Logout</button>
                                        </form>
                                        
                                    {% else %}
                                        <a href="{% url 'register_user' %}" class="btn-main">Sign Up</a>
                                        <a href="{% url 'login_user' %}" class="btn-main">Sign In</a>
                                    {% endif %}
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <!-- content begin -->
        {% block content %}
            
        {% endblock content %}
        <!-- content close -->
        <a href="#" id="back-to-top"></a>
        <!-- footer begin -->
        <footer class="text-light">
            <div class="container">
                <div class="row g-custom-x">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>About SaleSawari</h5>
                            <p>Where quality meets affordability. We understand the importance of a smooth and enjoyable journey without the burden of excessive costs. That's why we have meticulously crafted our offerings to provide you with top-notch vehicles at minimum expense.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>Contact Info</h5>
                            <address class="s1">
                                <span><i class="id-color fa fa-map-marker fa-lg"></i>08 W 36th St, New York, NY 10001</span>
                                <span><i class="id-color fa fa-phone fa-lg"></i>+1 333 9296</span>
                                <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">contact@example.com</a></span>
                            </address>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <h5>Quick Links</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="widget">
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Partners</a></li>
                                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>Social Network</h5>
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de-flex">
                                <div class="de-flex-col">
                                    <a href="index.html">
                                        Copyright 2024 - Salesawari by LazyAlgo
                                    </a>
                                </div>
                                <ul class="menu-simple">
                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>
    
    <!-- Javascript Files
    ================================================== -->
    {% comment %} <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgiM7ogCAA2Y5pgSk2KXZfxF5S_1jsptA&amp;libraries=places&amp;callback=initPlaces" async="" defer=""></script> {% endcomment %}
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/designesia.js' %}"></script>
    <!-- SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        var token = "{{request.user.auth_token.key}}";
    </script>
    {% block extra_js %}
    {% endblock extra_js %}
</html>