{% extends "landingpage/main.html" %}
{% load static %}
{% block title %}
    privay policy
{% endblock title %}
{% block content %}
        <!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Privacy Policy</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            <div class="container mt-5 text-dark">
                <p class="text-center mb-5">Effective Date: 04/01/2023</p>
              
                <section>
                  <p class="ml-4">
                    <strong>Introduction:</strong> Welcome to SaleSawari. This Privacy Policy explains how we collect, use, disclose, 
                    and safeguard your information when you visit our website for buying and selling vehicles. By using our service, 
                    you agree to the collection and use of information in accordance with this policy.
                  </p>
                </section>
              
                <section class="mt-4" style="color: white;">
                  <p class="ml-4">
                    <strong>Information We Collect:</strong> We may collect various types of information in order to provide better 
                    services to all our users:
                  </p>
                  <p class="ml-4">
                    - <strong>Personal Information:</strong> Name, email address, contact details, etc., provided when registering or communicating with us. <br>
                    - <strong>Vehicle Information:</strong> Details about the vehicle you wish to buy or sell. <br>
                    - <strong>Usage Data:</strong> Information on how you access and use SaleSawari.
                  </p>
                </section>
              
                <section class="mt-4">
                  <p class="ml-4">
                    <strong>How We Use Your Information:</strong> SaleSawari may use the collected data for various purposes, including:
                  </p>
                  <p class="ml-4">
                    - To facilitate transactions and provide customer support. <br>
                    - To send important updates and offers about our services. <br>
                    - To improve and personalize the experience on our platform.
                  </p>
                </section>
              
                <section class="mt-4" style="color: white;">
                  <p class="ml-4">
                    <strong>Sharing Your Information:</strong> We do not share your personal information with third parties without your consent, 
                    except as required by law or to protect our rights.
                  </p>
                </section>
              
                <section class="mt-4">
                  <p class="ml-4">
                    <strong>Data Security:</strong> We strive to use commercially acceptable means to protect your personal information. However, 
                    no method of transmission over the internet is 100% secure.
                  </p>
                </section>
              
                <section class="mt-4" style="color: white;">
                  <p class="ml-4">
                    <strong>Your Privacy Rights:</strong> Depending on your location, you may have certain rights regarding your personal 
                    information, such as the right to access, update, or delete your data.
                  </p>
                </section>
              
                <section class="mt-4">
                  <p class="ml-4">
                    <strong>Changes to This Privacy Policy:</strong> We may update our Privacy Policy from time to time. We will notify you of 
                    any changes by posting the new Privacy Policy on this page. Changes are effective as soon as they are posted.
                  </p>
                </section>
              
                <section class="mt-4" style="color: white;">
                  <p class="ml-4">
                    <strong>Contact Us:</strong> If you have any questions or concerns about this Privacy Policy, please contact us at:
                  </p>
                  <p class="ml-4">
                    Email: support@salesawari.com <br>
                    Phone: +1 (123) 456-7890
                  </p>
                </section>
              </div>
        </div>

{% endblock content %}