{% extends "seller/main.html" %}
{% load static %}
{% block title %} Seller Dashboard {% endblock title %}
{% block seller_page_title %} Seller Dashboard {% endblock seller_page_title %}
    
{% block seller_content %}
        
        <!-- content begin -->
        <div class="col-lg-9">
          <div class="row">
            <!-- Total Vehicles Listed -->
            <div class="col-lg-3 col-6 mb25 order-sm-1">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa id-color fa-2x fa-car"></i>  <!-- Car icon -->
                    </div>
                    <span class="h1 mb0">{{total_vehicles_listed}}</span>
                    <span class="text-gray">Total Vehicles Listed</span>
                </div>
            </div>
        
            <!-- Total Vehicles Sold -->
            <div class="col-lg-3 col-6 mb25 order-sm-1">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa id-color fa-2x fa-truck-moving"></i>  <!-- Truck Moving icon -->
                    </div>
                    <span class="h1 mb0">**</span>
                    <span class="text-gray">Total Vehicle Sold in last 30 days</span>
                </div>
            </div>
        
            <!-- Buyers Made Favorite -->
            <div class="col-lg-3 col-6 mb25 order-sm-1">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa id-color fa-2x fa-heart"></i>  <!-- Heart icon -->
                    </div>
                    <span class="h1 mb0">{{buyer_made_favorites}}</span>
                    <span class="text-gray">Buyers Made Favorite</span>
                </div>
            </div>
        
            <!-- Messages Received -->
            <div class="col-lg-3 col-6 mb25 order-sm-1">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa id-color fa-2x fa-envelope"></i>  <!-- Envelope icon -->
                    </div>
                    <span class="h1 mb0">{{conversations}}</span>
                    <span class="text-gray">Messages Recieved</span>
                </div>
            </div>
        </div>
        <div class="card p-4 rounded-5 mb25">
            <h4>My Recent Orders</h4>

            <table class="table de-table">
              <thead>
                <tr>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Order ID</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Car Name</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Drop Off Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Return Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Status</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><span class="d-lg-none d-sm-block">Order ID</span><div class="badge bg-gray-100 text-dark">#01236</div></td>
                  <td><span class="d-lg-none d-sm-block">Car Name</span><span class="bold">Jeep Renegade</span></td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Location</span>New York</td>
                  <td><span class="d-lg-none d-sm-block">Drop Off Location</span>Los Angeles</td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Date</span>March 2, 2023</td>
                  <td><span class="d-lg-none d-sm-block">Return Date</span>March 10, 2023</td>
                  <td><div class="badge rounded-pill bg-success">completed</div></td>
                </tr>
                <tr>
                  <td><span class="d-lg-none d-sm-block">Order ID</span><div class="badge bg-gray-100 text-dark">#01263</div></td>
                  <td><span class="d-lg-none d-sm-block">Car Name</span><span class="bold">Mini Cooper</span></td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Location</span>San Fransisco</td>
                  <td><span class="d-lg-none d-sm-block">Drop Off Location</span>Chicago</td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Date</span>March 8, 2023</td>
                  <td><span class="d-lg-none d-sm-block">Return Date</span>March 10, 2023</td>
                  <td><div class="badge rounded-pill bg-danger">cancelled</div></td>
                </tr>
                <tr>
                  <td><span class="d-lg-none d-sm-block">Order ID</span><div class="badge bg-gray-100 text-dark">#01245</div></td>
                  <td><span class="d-lg-none d-sm-block">Car Name</span><span class="bold">Ferrari Enzo</span></td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Location</span>Philadelphia</td>
                  <td><span class="d-lg-none d-sm-block">Drop Off Location</span>Washington</td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Date</span>March 6, 2023</td>
                  <td><span class="d-lg-none d-sm-block">Return Date</span>March 10, 2023</td>
                  <td><div class="badge rounded-pill bg-warning">scheduled</div></td>
                </tr>
                <tr>
                  <td><span class="d-lg-none d-sm-block">Order ID</span><div class="badge bg-gray-100 text-dark">#01287</div></td>
                  <td><span class="d-lg-none d-sm-block">Car Name</span><span class="bold">Hyundai Staria</span></td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Location</span>Kansas City</td>
                  <td><span class="d-lg-none d-sm-block">Drop Off Location</span>Houston</td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Date</span>March 13, 2023</td>
                  <td><span class="d-lg-none d-sm-block">Return Date</span>March 10, 2023</td>
                  <td><div class="badge rounded-pill bg-success">completed</div></td>
                </tr>
                <tr>
                  <td><span class="d-lg-none d-sm-block">Order ID</span><div class="badge bg-gray-100 text-dark">#01216</div></td>
                  <td><span class="d-lg-none d-sm-block">Car Name</span><span class="bold">Toyota Rav 4</span></td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Location</span>Baltimore</td>
                  <td><span class="d-lg-none d-sm-block">Drop Off Location</span>Sacramento</td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Date</span>March 7, 2023</td>
                  <td><span class="d-lg-none d-sm-block">Return Date</span>March 10, 2023</td>
                  <td><div class="badge rounded-pill bg-warning">scheduled</div></td>
                </tr>
              </tbody>
            </table>
        </div>
        
        </div>
      <!-- content close -->
{% endblock %}