{% extends "seller/main.html" %}
{% load static %}
{% block title %} Chat {% endblock title %}
{% block seller_page_title %} Chat {% endblock seller_page_title %}
    
{% block seller_content %}
        
        <!-- content begin -->
        <div class="col-lg-9">
            <div class="card p-4 rounded-5 mb25">
                <h4>Resent Chat History</h4>
            </div>
            <div class="list-group">
                {% for data in conversation_data %}
                    <div class="list-group-item">
                        <p>Conversation with {{ data.other_user.username }}</p>
                        <a href="{% url 'buyer_conversation' data.other_user.id %}" class="btn btn-primary">Reply</a>
                    </div>
                {% empty %}
                    <p>No conversations found.</p>
                {% endfor %}
            </div>
        </div>
      <!-- content close -->
{% endblock %}