{% extends "seller/main.html" %}
{% load static %}
{% block title %} Seller Dashboard {% endblock title %}
{% block seller_page_title %} Seller Dashboard {% endblock seller_page_title %}
    
{% block seller_content %}
        
        <!-- content begin -->
        <div class="col-lg-9">
          <div class="row">
            <!-- Total Vehicles Listed -->
            <div class="col-lg-3 col-6 mb25 order-sm-1">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa id-color fa-2x fa-car"></i>  <!-- Car icon -->
                    </div>
                    <span class="h1 mb0">{{total_vehicles_listed}}</span>
                    <span class="text-gray">Total Vehicles Listed</span>
                </div>
            </div>
        
            <!-- Total Vehicles Sold -->
            <div class="col-lg-3 col-6 mb25 order-sm-1">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa id-color fa-2x fa-truck-moving"></i>  <!-- Truck Moving icon -->
                    </div>
                    <span class="h1 mb0">4</span>
                    <span class="text-gray">Vehicle Sold in 30 days</span>
                </div>
            </div>
        
            <!-- Buyers Made Favorite -->
            <div class="col-lg-3 col-6 mb25 order-sm-1">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa id-color fa-2x fa-heart"></i>  <!-- Heart icon -->
                    </div>
                    <span class="h1 mb0">{{buyer_made_favorites}}</span>
                    <span class="text-gray">Buyers Made Favorite</span>
                </div>
            </div>
        
            <!-- Messages Received -->
            <div class="col-lg-3 col-6 mb25 order-sm-1">
                <div class="card p-4 rounded-5">
                    <div class="symbol mb40">
                        <i class="fa id-color fa-2x fa-envelope"></i>  <!-- Envelope icon -->
                    </div>
                    <span class="h1 mb0">{{conversations}}</span>
                    <span class="text-gray">Messages Recieved</span>
                </div>
            </div>
        </div>
        <div class="card p-4 rounded-5 mb25">
            <h4>My Recent Orders</h4>

            <table class="table de-table">
              <thead>
                <tr>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Order ID</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Vehicle</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Buyer</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Color</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Engine</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Action</span></th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                <tr>
                  <td><span class="d-lg-none d-sm-block">Order ID</span><div class="badge bg-gray-100 text-dark">{{forloop.counter}}</div></td>
                  <td><span class="d-lg-none d-sm-block">Vehicle</span><span class="bold">{{order.vehicle.name}}</span></td>
                  <td><span class="d-lg-none d-sm-block">Vehicle</span><span class="bold">{{order.full_name}}</span></td>
                  <td><span class="d-lg-none d-sm-block">Color</span>{{order.vehicle.color}}</td>
                  <td><span class="d-lg-none d-sm-block">Drop Off Location</span>{{order.vehicle.engine}}</td>
                  <td><a href="{% url 'seller_invoice' order.id %}"><div class="badge rounded-pill bg-info">View Order</div></td></a>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        
        </div>
      <!-- content close -->
{% endblock %}