{% extends "landingpage/main.html" %}
{% load static %}
{% block content %}
      
      <!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'images/background/14.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Dashboard</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <section id="section-cars" class="bg-gray-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 mb30">
                            <div class="card p-4 rounded-5">
                                <div class="profile_avatar">
                                    <div class="profile_img">
                                        <img src="{% static 'images/profile/1.jpg' %}" alt="">
                                    </div>
                                    <div class="profile_name">
                                        <h4>
                                            Monica Lucas                                                
                                            <span class="profile_username text-gray">monica@rentaly.com</span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="spacer-20"></div>
                                <ul class="menu-col">
                                    <li><a href="" class="active"><i class="fa fa-home"></i>Dashboard</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Messages</a></li>
                                    <li><a href="#"><i class="fa fa-calendar"></i>My Orders</a></li>
                                    <li><a href="#"><i class="fa fa-car"></i>My Favorite Cars</a></li>
                                    <li><a href="#"><i class="fa fa-sign-out"></i>Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                        {% block buyer_content %}
                            
                        {% endblock buyer_content %} 
                    </div>
                </div>
            </section>
			
			
        </div>
        <!-- content close -->
{% endblock content %}