{% extends "landingpage/main.html" %}
{% load static %}
{% block title %}
    Register Account
{% endblock title %}
{% block content %}
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
            <div class="center-y relative text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Register</h1>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
    </section>
    <!-- section close -->
    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h3>Don't have an account? Register now.</h3>
                    <p>You can register SaleSawari Account completely free with no hidden fees. We care our user privacy and data.</p>
                    <div class="container d-flex justify-content-center align-items-center" id="ask-user-for-registration" style="background-size: 100%; background-repeat: no-repeat;">
                        <div class="row" style="background-size: 100%; background-repeat: no-repeat;">
                            <div class="col-md-6 mb-4 d-flex justify-content-center" style="background-size: 100%; background-repeat: no-repeat;">
                                <div class="card text-center" style="background-size: 100%; background-repeat: no-repeat;">
                                    <div class="card-body d-flex flex-column align-items-center" style="background-size: 100%; background-repeat: no-repeat;">
                                        <i class="fas fa-user-plus fa-3x mb-3 text-success"></i>
                                        <h5 class="card-title text-dark">Register as Buyer</h5>
                                        <a href="{% url 'buyer_registration' %}">
                                            <button class="btn btn-primary mt-auto ripple-surface">Register</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 d-flex justify-content-center" style="background-size: 100%; background-repeat: no-repeat;">
                                <div class="card text-center" style="background-size: 100%; background-repeat: no-repeat;">
                                    <div class="card-body d-flex flex-column align-items-center" style="background-size: 100%; background-repeat: no-repeat;">
                                        <i class="fas fa-car fa-3x mb-3 text-success"></i>
                                        <h5 class="card-title text-dark">Register as Seller</h5>
                                        <a href="{% url 'seller_registration' %}">
                                            <button class="btn btn-primary mt-auto">Register</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
    
    