{% extends "landingpage/main.html" %}
{% load static %}
{% block title %}
    Seller Registration
{% endblock title %}
{% block content %}
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
            <div class="center-y relative text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Register as Seller</h1>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
    </section>
    <!-- section close -->
    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h3>Don't have seller account? Register now.</h3>
                    <p>You can register SaleSawari Account completely free with no hidden fees. We care our user privacy and data.</p>
                    {% if messages %} {% for m in messages %} <p class="text-success">{{m}}</p> {% endfor %} {% endif %}
                    <div id="seller-register-container">
                        <div class="spacer-10"></div>
                        <form class="form-border" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label>Full Name:</label>
                                        <input type='text' name='seller-name' id='seller-name' class="form-control">
                                        <input type="hidden" name="user-type" id="seller-user-type">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label>Email Address:</label>
                                        <input type='text' name='seller-email' id='seller-email' class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label>Choose a Username:</label>
                                        <input type='text' name='seller-username' id='seller-username' class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label>Phone:</label>
                                        <input type='text' name='seller-phone' id='seller-phone' class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label>Password:</label>
                                        <input type='text' name='seller-password' id='seller-password' class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <div class="field-set">
                                        <label>Re-enter Password:</label>
                                        <input type='text' name='seller-re-password' id='seller-re-password' class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div id='submit' class="pull-left">
                                        <input type='submit' id='seller-submit-button' value='Register Now' class="btn-main color-2">
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
    
    